<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aggiunta Terreno</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/static/vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/css/stile.css">
  <link rel="stylesheet" href="static/css/log.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <style>
      #map{
        border-radius: 3%;
          height: 400px;
      }
  </style>
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/enia.png" />
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="brand-logo-mini" href="visualizzaTerreni"><img
                  src="/static/images/enia.png" alt="logo"></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button"
              data-toggle="minimize">
              <span class="typcn typcn-th-menu"></span>
          </button>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav mr-lg-2">
              <li class="nav-item  d-none d-lg-flex">
                  <a class="nav-link active">
                      <p >Aggiungi Terreno</p>
                  </a>
              </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown  d-flex">
                  <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                      id="notificationDropdown" data-toggle="dropdown">
                      <i class="typcn typcn-bell mr-0"></i>
                      <!--TODO farlo variabile con l'implementazione delle notifiche-->
                      <span class="count bg-danger">2</span>
                      <!--Numero notifiche-->
                  </a>
                  <!--contenuto dropdown notifiche-->
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                      aria-labelledby="notificationDropdown">
                      <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                      <a class="dropdown-item preview-item">
                          <div class="preview-thumbnail">
                              <div class="preview-icon bg-success">
                                  <i class="typcn typcn-info-large mx-0"></i>
                              </div>
                          </div>
                          <div class="preview-item-content">
                              <h6 class="preview-subject font-weight-normal">Application Error</h6>
                              <p class="font-weight-light small-text mb-0">
                                  Just now
                              </p>
                          </div>
                      </a>
                      <a class="dropdown-item preview-item">
                          <div class="preview-thumbnail">
                              <div class="preview-icon bg-warning">
                                  <i class="typcn typcn-cog mx-0"></i>
                              </div>
                          </div>
                          <div class="preview-item-content">
                              <h6 class="preview-subject font-weight-normal">Settings</h6>
                              <p class="font-weight-light small-text mb-0">
                                  Private message
                              </p>
                          </div>
                      </a>
                      <a class="dropdown-item preview-item">
                          <div class="preview-thumbnail">
                              <div class="preview-icon bg-info">
                                  <i class="typcn typcn-user-outline mx-0"></i>
                              </div>
                          </div>
                          <div class="preview-item-content">
                              <h6 class="preview-subject font-weight-normal">New user registration</h6>
                              <p class="font-weight-light small-text mb-0">
                                  2 days ago
                              </p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle  pl-0 pr-0" data-toggle="dropdown" id="profileDropdown">
                      <i class="typcn typcn-user-outline mr-0"></i>
                      <span class="nav-profile-name">{{current_user.nome + " " + current_user.cognome}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                      aria-labelledby="profileDropdown">
                      <a class="dropdown-item" href="/user">
                          <i class="typcn typcn-cog text-primary"></i>
                          Settings
                      </a>
                      <a class="dropdown-item" href="/logout">
                          <i class="typcn typcn-power text-primary"></i>
                          Logout
                      </a>
                  </div>
              </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas">
              <span class="typcn typcn-th-menu"></span>
          </button>
      </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
              <li class="nav-item">
                  <div class="d-flex sidebar-profile">
                      <div class="sidebar-profile-image">
                      </div>
                      <div class="sidebar-profile-name">
                          <p class="sidebar-name">
                              {{current_user.nome + " " + current_user.cognome}}
                          </p>
                          <p class="sidebar-designation">
                              Benvenuto, {{current_user.ruolo}}
                          </p>
                      </div>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/visualizzaTerreni">
                      <i class="typcn typcn-map menu-icon"></i>
                      <span class="menu-title">Terreni</span>
                  </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/user" aria-expanded="false" aria-controls="auth">
                      <i class="typcn typcn-user menu-icon"></i>
                      <span class="menu-title">User Pages</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://unisalerno-my.sharepoint.com/:b:/g/personal/c_laudato2_studenti_unisa_it/EeOm2gosup5OsDa2tEJuCP4Bf5BqF05trtqCHoJ3fRbzGw?e=BnUdig" target="_blank">
                      <i class="typcn typcn-document-text menu-icon"></i>
                      <span class="menu-title">Documentation</span>
                  </a>
              </li>
          </ul>
      </nav>
    <div class="container-fluid page-body-wrapper full-page-wrapper" >
      <div class="content-wrapper d-flex align-items-center auth px-0"  style="background-image: url('/static/images/register.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="row w-100 mx-0">
          <div class="col-lg-8 mb-3 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/static/images/enia.png" alt="logo">
              </div>
              <h4>Inserimento terreno</h4>
              <h6 class="font-weight-light">Inserire i dettagli del terreno nei campi seguenti, indicandone i confini sulla mappa.</h6>
              <form class="pt-3" id = "form1">
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Nome</label>
                  <input type="text" class="form-control form-control-sm" id="nome">
                </div>
                <div class="form-group">
                  <label for="input-field">Tipo Coltura</label>
                  <select class="form-control" aria-label="coltura" id = "coltura">
                  {% for coltura in colture %}
                    <option value="{{coltura}}">{{coltura}}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="input-field">Stadio Di Sviluppo</label>
                  <select class="form-control" aria-label="coltura" id = "stadio">
                  {% for stadio in stadi_crescita %}
                    <option value="{{stadio}}">{{stadio}}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="input-field" id="labelPassword">Preferito</label>
                  <input type="checkbox" class="form-control form-control-sm" id="preferito" value="True">
                </div>
                <div class="form-group">
                  <label for="input-field">Priorita</label>
                  <input type="number" class="form-control form-control-sm" id="priorita">
                </div>
                <div id="map">
                </div>
                <div id = "spazioNotifica" class="mb-4">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn" onclick="insert()" id="add">INSERISCI TERRENO</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
      
      <!-- content-wrapper ends -->
      
    </div>
    <!-- page-body-wrapper ends -->
    
  </div>
  </div>
  <footer class="footer" style= "background: border-box">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-center text-sm-left d-block d-sm-inline-block">Progetto IS e GPS <a href="#" target="_blank">EnIA</a> 2023</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sviluppato da: Benedetto Scala, Maria Lombardi, Gerardo Frino, Francesco Maria Puca, Francesco Fattorusso</span>
    </div>
  </footer>
  
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/todolist.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
  <script src="/static/javascript/terreno.js"></script>
  <script src="/static/javascript/misc.js"></script>
<script>
  var map = L.map('map').setView([40.77393162437966, 14.789718084808584], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var validMap = false
    var points = [];
    var polygon
    map.on('click', function(e) {
        points.push(e.latlng);
        validMap = true
        if (points.length >= 1) {
            if (polygon != null){
                polygon.remove()
            }
            
            polygon = L.polygon(points).addTo(map);
        }
    });
    var popup = L.popup();
</script>
  <!-- endinject -->
</body>
</html>
