<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aggiunta Terreno</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/static/vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <style>
      #map{
          height: 400px;
      }
  </style>
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper" >
      <div class="content-wrapper d-flex align-items-center auth px-0" style="background-image: url('/static/images/carousel/banner.jpg'); background-repeat: no-repeat;">
        <div class="row w-100 mx-0">
          <div class="col-lg-12 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/static/images/enia.png" alt="logo">
              </div>
              <h4>Inserimento terreno</h4>
              <h6 class="font-weight-light">Inserire i dettagli del terreno nei campi seguenti, indicandone i confini sulla mappa.</h6>
              <form class="pt-3" id = "form1">
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Nome</label>
                  <input type="text" class="form-control form-control-sm" id="nome">
                </div>
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Coltura</label>
                  <input type="text" class="form-control form-control-sm" id="coltura">
                </div>
                <div class="form-group">
                  <label for="input-field" id="labelPassword">Preferito</label>
                  <input type="checkbox" class="form-control form-control-sm" id="preferito" value="True">
                </div>
                <div class="form-group">
                  <label for="input-field">Priorita</label>
                  <input type="number" class="form-control form-control-sm" id="priorita">
                </div>
                <div id="map">
                </div>
                <div id = "spazioNotifica" class="mb-4">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn" onclick="insert()">INSERISCI TERRENO</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/todolist.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
  <script src="/static/javascript/terreno.js"></script>
  <script src="/static/javascript/misc.js"></script>
<script>
  var map = L.map('map').setView([40.77393162437966, 14.789718084808584], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var points = [];
    var polygon
    map.on('click', function(e) {
        points.push(e.latlng);
        if (points.length >= 1) {
            if (polygon != null){
                polygon.remove()
            }
            
            polygon = L.polygon(points).addTo(map);
        }
    });
    var popup = L.popup();

</script>
  <!-- endinject -->
</body>
</html>
