<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aggiunta Terrano</title>
  <!-- base:css -->
  <link rel="stylesheet" href="vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <style>
      #map{
          height: 400px;
      }
  </style>
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper" >
      <div class="content-wrapper d-flex align-items-center auth px-0" style="background-image: url('images/carousel/banner.jpg'); background-repeat: no-repeat;">
        <div class="row w-100 mx-0">
          <div class="col-lg-12 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="images/enia.png" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form class="pt-3">
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Nome</label>
                  <input type="text" class="form-control form-control-sm" id="nome">
                </div>
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Coltura</label>
                  <input type="text" class="form-control form-control-sm" id="coltura">
                </div>
                <div class="form-group form-group">
                  <label for="input-field" id="labelEmail">Posizione</label>
                  <input type="text" class="form-control form-control-sm" id="posizione">
                </div>
                <div class="form-group">
                  <label for="input-field" id="labelPassword">Preferito</label>
                  <input type="checkbox" class="form-control form-control-sm" id="preferito" value="True">
                </div>
                <div class="form-group">
                  <label for="input-field">Priorita</label>
                  <input type="text" class="form-control form-control-sm" id="priorita">
                </div>
                <div id="map">
                </div>
                <div class="mb-4">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn" onclick="insert()">INSESCI TERRENO</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
  <script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var points = [];
    var polygon
    map.on('click', function(e) {
        points.push(e.latlng);
        if (points.length >= 3) {
            if (polygon != null){
                polygon.remove()
            }
            
            polygon = L.polygon(points).addTo(map);
        }
    });
    var popup = L.popup();



    function insert(){
        console.log("Test0")
        var nome = document.getElementById("nome").value
        var coltura = document.getElementById("coltura").value
        var posizione = document.getElementById("posizione").value
        var preferito = document.getElementById("preferito").checked
        var priorita = document.getElementById("priorita").value
        
        console.log("Test1")
        
          var url = new URL("http://localhost:5000/aggiuntaterreno")
          url.searchParams.append("nome", nome)
          url.searchParams.append("coltura", coltura)
          url.searchParams.append("posizione", posizione)
          url.searchParams.append("preferito", preferito)
          url.searchParams.append("priorita", priorita)
          console.log("Test2")
          data = new FormData()
          console.log(polygon.toGeoJSON())
          data.append("nome", nome)
          data.append("coltura", coltura)
          data.append("preferito", preferito)
          data.append("priorita", priorita)
          geoJson = polygon.toGeoJSON()
          
          var data = {
                nome : nome,
                coltura : coltura,
                preferito : preferito,
                priorita : priorita,
                posizione : geoJson
          }
          console.log(JSON.stringify(data))
          console.log(data)
          let response = fetch(url,
          {
            "method": "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            "body": data
          }).then(res=>res.json())
          .then(data=>{
              console.log(data)
          })
        
        
    }
  </script>
  <script>
    
</script>
  <!-- endinject -->
</body>
</html>
