
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/static/vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="/static/css/log.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/enia.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0" style="background-image: url('/static/images/login.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="log auth-form-light text-left py-5 px-4 px-sm-5" id="principale">
              <div class="brand-logo">
                <img src="/static/images/enia.png" alt="logo">
              </div>
              <h4>Benvenuto!</h4>
              <h6 class="font-weight-light">Fai il login per continuare</h6>
              <form class="pt-3" method="post" id="loginForm">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="E-Mail">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
                </div>
                <input type = "hidden" name = "next" value = "{{request.args.get("next", "")}}">
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input" style="border: solid  #4DBAF6 !important">
                      Ricordami
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Password dimenticata?</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Non sei ancora registrato? <a href="/registerf" class="text-primary">Registrati</a><br>
                  Hai un codice di accesso e vuoi Registrarti? <a href="/register" class="text-primary">Registrati qui</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>