<html>
    <head>
        <title>
            User
        </title>
    </head>
    <body>
        <div class="content" style="text-align: center; margin-top: 10%;">
            <div id="view">
                <h2>User</h2>
                <br>
                Nome: {{current_user.nome}} 
                <br>
                Cognome: {{current_user.cognome}} 
                <br>
                Email: {{current_user.email}} 
                <br>
                Ruolo: {{current_user.ruolo}}
                <br>
                Data di Nascita:{{current_user.dataNascita}} 
                <br>
                Indirizzo: {{current_user.indirizzo}} 
                {%if current_user.ruolo != "farmer"%}
                <div id="userview">
                    Codice:{{current_user.codice}} 
                </div>
                {%else%}
                <div id="farmerview">
                    PartitaIVA: {{current_user.partitaIVA}}
                    <br>
                    <h2>Licenza</h2>
                    <br>
                    Tipo: {{session["licenza"].tipo}}
                    <br>
                    Costo: {{session["licenza"].costo}}
                    <br>
                    Data attivazione: {{session["licenza"].data_attivazione}}
                    <br>
                    Data scadenza: {{session["licenza"].data_scadenza}}
                    <br>
                    <h2>Metodo di pagamento</h2>
                    <br>
                    Numero carta: {{session["metodo"].num_carta}}
                    <br>
                    Titolare: {{session["metodo"].titolare}}
                    <br>
                    Scadenza: {{session["metodo"].scadenza}}
                    <br>
                    CVV: {{session["metodo"].cvv}}
                </div>
                {%endif%}
            </div>
        </div>
    </body>

    <script src="/static/javascript/user.js"></script> 
    <script>
       
    </script>
</html>