<html>
    <head>
        <title>
            User
        </title>
    </head>
    <body>
        <div class="content" style="text-align: center; margin-top: 10%;">
            <div id="view">
                Nome: {{current_user.nome}} <p id="nome"></p>
                <br>
                Cognome: {{current_user.cognome}} <p id="cognome"></p>
                <br>
                Email: {{current_user.email}} <p id="email"></p>
                <br>
                Ruolo: {{current_user.ruolo}}<p id="ruolo"></p>
                <br>
                Data di Nascita:{{current_user.dataNascita}} <p id="nascita"></p>
                <br>
                Indirizzo: {{current_user.indirizzo}} <p id="indirizzo"></p>
                {%if current_user.ruolo != "farmer"%}
                <div id="userview" style="display: none;">
                    Codice:{{current_user.codice}} <p id="codice"></p>
                </div>
                {%else%}
                <div id="farmerview">
                    PartitaIVA: {{current_user.partitaIVA}}<p id="partitaiva"></p>
                </div>
                {%endif%}
            </div>
        </div>
    </body>

    <script src="/static/javascript/user.js"></script> 
    <script>
       load('{{user}}');
    </script>
</html>