.auth .auth-form-light {
    background: #D1DFE2!important;
    border-radius: 3rem !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #4DBAF6 !important;
    border-color: #4DBAF6 !important;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 3rem !important;
}


.auth form .form-group .form-control, .auth form .form-group .select2-container--default .select2-selection--single, .select2-container--default .auth form .form-group .select2-selection--single, .auth form .form-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth form .form-group .select2-search__field, .auth form .form-group .typeahead, .auth form .form-group .tt-query, .auth form .form-group .tt-hint {
    background: white !important;
    font-size: .9375rem;
}

.card{
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}