.auth .auth-form-light {
    background: #ffffff0a !important;
}

.auth form .form-group .form-control, .auth form .form-group .select2-container--default .select2-selection--single, .select2-container--default .auth form .form-group .select2-selection--single, .auth form .form-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth form .form-group .select2-search__field, .auth form .form-group .typeahead, .auth form .form-group .tt-query, .auth form .form-group .tt-hint {
    background: white !important;
    border-radius: 0;
    font-size: .9375rem !important;
}
.btn-success {
    color: #fff;
    background-color: #92E351 !important;
    border-color: #92E351 !important;
}
